body{
font-size:15px;
font-family:sans-serif;
}

#div1{
border-style: solid;
border-width: 3px;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
}

#div2{
border-style: dotted;
border-width: 3px;
border-color:blue;
text-align: center;
height:100px;
width:30%;
}

#div3{
border-style: solid;
border-width: 3px;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 150px;
margin-right: 150px;
}

#div4 {
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}

#text1{
display: block;
}

#text2{
position: static;
}
